header {
    width: 100%;
    background-color: #000;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

.favoritos {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    background-color: #ca342a;
    color: #FFF;
    padding: 10px 16px;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: ease 0.8s;
}

.favoritos i {
    margin-right: 2px;
}

.favoritos:hover {
    background-color: #FFF;
    color: #ca342a;
}

@media (max-width: 1200px) {
    .header-container {
        width: 90%;
    }

    .favoritos {
        font-size: 12px;
    }
}