footer {
    padding: 40px;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

footer a{
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    display: flex;
    align-items: center;
}

footer a i{
    font-size: 22px;
    margin-right: 8px;
    color: #ca342a;
}