footer {
    padding: 40px;
    background-color: #000;
    color: #FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
}

footer a{
    text-decoration: none;
    font-weight: 600;
    color: #FFF;
    display: flex;
    align-items: center;
    transition: ease 0.8s;
}

footer a i{
    font-size: 22px;
    margin-right: 8px;
    color: #ca342a;
    transition: ease 0.8s;
}

footer a:hover {
    color: #ca342a;
}

footer a:hover i {
    color: #FFF;
}